<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fypspringbootcode.mapper.AdminMapper">
    <select id="getByAdminNameAndPassword" resultType="com.example.fypspringbootcode.entity.Admin">
        select * from t_00_admin where admin_name = #{adminName} and password = #{password}
    </select>

    <update id="updatePassword">
        update t_00_admin set password = #{newPassword}, update_time = CURRENT_TIMESTAMP  where admin_name = #{adminName}
    </update>
</mapper>
